<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()"
            #form="ngForm">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text"
                 class="form-control"
                 ngModel
                 name="email"
                 required
                 email
                 #email="ngModel">
          <span *ngIf="!email.valid && email.touched"
                class="help-block">Email is not valid!</span>
        </div>
        <div class="form-group">
          <label for="subscription">Subscription:</label>
          <select class="form-control"
                  [ngModel]="subscription"
                  name="subscription">
            <option *ngFor="let subscription of subscriptions"
                    [value]="subscription">{{subscription}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password"
                 class="form-control"
                 ngModel
                 name="password"
                 required
                 #password="ngModel">
          <span *ngIf="!password.valid && password.touched"
                class="help-block">Password is required!</span>
        </div>
        <span *ngIf="!form.valid&&form.touched"
              class="help-block">This form is not valid!</span>
        <button class="btn btn-success"
                type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
